<md-toolbar>Hacker Valley</md-toolbar>

<md-card>
  <b>Time</b>:
  <game-time [days]=game.days [hours]=game.hours>
  </game-time>
</md-card>

<md-tab-group>
  <md-tab>
    <template md-tab-label>Area</template>
    <template md-tab-content>
      <svg viewBox="0 0 100 100" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="1" cy="1" r="1"/>
      </svg>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Office</template>
    <template md-tab-content>
      <md-card *ngFor="let product of game.product">
        <md-card-title>{{product.industry}}</md-card-title>
      </md-card>

      <md-card>
        <md-card-title>
          {{game.character.name}}
          <small *ngIf="game.character.resting">zzz</small>
        </md-card-title>
        <md-card-subtitle>
          <span *ngFor="let job of game.character.jobs">
            Level {{job.level}} {{job.job}}
          </span>
        </md-card-subtitle>

        Energy: {{game.character.energy}}
        <md-progress-bar mode="determinate" [value]="game.character.energy"></md-progress-bar>
      </md-card>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Companies</template>
    <template md-tab-content>
      <md-card *ngFor="let company of game.companies">
        <md-card-title>{{company.name}}</md-card-title>
        <md-card-subtitle>
          Networth: {{company.networth | currency}}
        </md-card-subtitle>
      </md-card>
    </template>
  </md-tab>
</md-tab-group>
